
body {
    /* font-family: 'Quando', serif; */
    /* theme 1 */
    /* background-color: #115740; */
    /* color:#f5f5f5; */
    /* theme 2 */
    background-color: #F5F5F5;
}

h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 10px;
}

section {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-evenly;
}

li {
    float: left;
    width: 100px;
    clear: both;
}

