
body {
    background-color: #F5F5F5;
}

.game-screen {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

h2, h4, p {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 14px;
}

section.game {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
    padding-bottom: 4%;
}

ul {
    display: none;
}

li {
    float: left;
    width: 100px;
    clear: both;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    margin: 10px;
    text-decoration: none;
}

#instruction:hover ul {
    display: block;
}

.modal-title {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #F5F5F5;
}

.modal-instructions {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #F5F5F5;
    /* opacity: 0.9; */
}

.modal-info {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #F5F5F5;
    /* opacity: 0.5; */
}

.modal-info > .modal-content {
    background-color: #115740;
    color: #f5f5f5;

    z-index: 1;
    /* opacity: 1.0; */
    border: 4px #6C935C solid;
    height: 100%;
    padding: 12em 250px 0 250px;
}
.active {
    display: flex;
    /* transition: 1s; */
}

button {
    border: none;
    text-decoration: none;
    transition: none;
    margin: 10px;
    cursor: pointer;
}

#github-link {
    width: 50px;
    height: 50px;
}

.fa-github {
    color: #6C935C;
    font-size: 50px;
    border-radius: 50%;

    transition: 0.7s;
}

#linkedin-link, #angellist-link, button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6C935C;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.7s;
}

.fa-linkedin-in, .fa-angellist {
    font-size: 32px;
    text-align: center;
    /* text-decoration: none; */
}

.fa-volume-up, .fa-volume-mute, .fa-rotate-left, .fa-linkedin-in, .fa-info, .fa-angellist {
    color: #f5f5f5;
}

#linkedin-link:hover, #angellist-link:hover, button:hover {
    background-color: #115740;
    transition: 0.7s;
}

.fa-github:hover {
    color: #115740;
    transition: 0.7s;
}